body {
    background-color: #6c757d;
}

.card {
    border: solid 1px white;
    box-shadow: 8px 8px #212529;
}

.card-img {
    height: inherit;
}

.card-img-overlay {
    display: none;
    cursor: pointer;
}

.card:hover > .card-img-overlay {
    background-color: #212529;
    display: block;
    overflow-y: scroll;
}